body {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 20px 40px;
  background-color: #333dc5;
  color: white;
  background-image: url("./assets/discord-background.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 500px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

p,
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

#body {
  display: flex;
}

#text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.button {
  margin-top: 10px;
  width: fit-content;
  padding: 10px 30px;
  display: block;
  border-radius: 18px;
}

#b1 {
  background-color: white;
  color: black;
}

#b2 {
  background-color: black;
  color: white;
}
